/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: "RuberoidLight";
  src: url('/fonts/Ruberoid/Ruberoid-Light.otf') format('opentype');
}

@font-face {
  font-family: "RuberoidRegular";
  src: url('/fonts/Ruberoid/Ruberoid-Regular.otf') format('opentype');
}

@font-face {
  font-family: "RuberoidBold";
  src: url('/fonts/Ruberoid/Ruberoid-Bold.otf') format('opentype');
}

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: "RuberoidBold";
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #19539f;
  --ifm-color-primary-darker: #1d5db3;
  --ifm-color-primary-darkest: #2068c7;
  --ifm-color-primary-light: #2372db;
  --ifm-color-primary-lighter: #377fde;
  --ifm-color-primary-lightest: #4b8ce1;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffffff;
  --ifm-color-primary-dark: #5f98e5;
  --ifm-color-primary-darker: #73a5e8;
  --ifm-color-primary-darkest: #87b2eb;
  --ifm-color-primary-light: #9bbfee;
  --ifm-color-primary-lighter: #afccf2;
  --ifm-color-primary-lightest: #c3d8f5;
}

a {
  color: var(--ifm-color-primary-dark);
}

p, li {
  font-family: "Inter";
}

.front-page-link {
  font-family: RuberoidRegular;;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(2, 62, 138);
  padding: 0px 23px;
  text-decoration: none;
  width: 300px;
  margin: 0px 8px;
  border-radius: 7px;
  transition: all .35s;
  border: 1px solid rgba(255, 255, 255, .1);
  box-shadow: rgba(2, 62, 138, 1) 0px 4px 12px;
  font-weight: 600;
  color: white;
  text-align: left;
  height: 115px;
}

.front-page-link:hover {
  border: 1px solid rgba(255, 255, 255, .3);
  box-shadow: rgba(2, 62, 138, .5) 0px 4px 12px;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .front-page-link {
    width: 100%;
    margin-bottom: 10px;
  }
}

.button-heading {
  font-size: 22px;
  font-family: 'RuberoidBold';
  margin: 0px;
  line-height: 24px;
  margin-bottom: 8px;
}

code {
  max-height: 1000px;
  overflow-y: auto;
}
